body{
    background-color: #E9CD37;
}

.square{
    background-color: #EDEDED;
    height: 400px; width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.square2{
    background-color: white;
    height: 80px; width: 492px;
    border-radius: 5px;
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%,-50%);
}

h1{
   color:rgb(70, 70, 70);
   margin-left:40px;
   margin-bottom:0px;
}
h3{
    color:rgb(70, 70, 70);
    margin-left:40px;
    margin-top:0px;
}

#t{
    background-color:rgba(190, 190, 190, 0.575);
     margin-left: 40px;  
     width: 50%;
     height: 7%;
     border: none; 
     border-radius: 3px;
}

select{
     width: 30%;
     height: 7%;
     border:none;
     border-radius: 3px;
}

#b{
    background-color: rgb(74, 87, 206);
    color:white;
    height: 7%;
    border-radius:3px;
    margin-top:250px;
    position:absolute;
    transform: translate(-50%,-50%);
    border: none;
}

#t:focus, select:focus, #b:focus{
    outline: 2px solid rgb(74, 87, 206);
}